<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
@*<div class="row">
    <p>Help Us to keep alive! Mining when you browser on our SocialNetwork</p>
    <div class="coinhive-miner"
         style="width: 256px; height: 310px"
         data-key="e7kSeLwWFLxMIRyT5hwp5VATl0aiwKPA">
        <em>Loading...</em>
    </div>

</div>
@* Essa key está ligada a uma conta que criei no site da coinhive (contapracash1@hotmail.com/coreduo123)
   O que ficamos procurando durante a madrugada, alguma forma do usuario consiguir entrar com a carteira dele... A principio sem muito sucesso.
   Eu fiquei boa parte da madrugada lendo sobre, a principio miner pessoal JS não tem ainda... vou continuar procurando amanhã...
   Outro detalhe, comentei com o mikael, poderiamos lançar na rede social um "Help us to keep alive!" Da forma que botei o código ai na pagina...
   *@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://authedmine.com/lib/simple-ui.min.js" async></script>
}