body {
    background: url(https://cdn-images-1.medium.com/max/1600/1*Da0zFdDhXCzs674J2WkHNA.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.panel-default {
    opacity: 0.9;
    margin-top: 30px;
}

.form-group.last {
    margin-bottom: 0px;
}
