@model Presentation.ViewModels.ApplicationUserViewModel
<body>
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
        ViewBag.Title = "WeCoin - Perfil";
        Styles.Render("~/Content/Profile.css");
    }
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 well" style="text-align: center">
                <img src="~/Content/images/bandmember.jpg" class="img-circle" height="65" width="65" alt="Avatar">
                <h4> Diego Victor de Jesus </h4>
                <button type="button" class="btn btn-light">Enviar pedido de amizade</button>
                @*@Html.ActionLink("Enviar pedido de amizade", "MakeFriendshipRequest", "UserProfile", new {  })*@
                <input type="hidden" value="@Model.Id" />
            </div>


            <div class="col-sm-9">
                <h4><small>Publicações recentes</small></h4>
                <hr>
                <h2>I Love Food</h2>
                @* TODO: colocar hora do post *@
                <h5><span class="glyphicon glyphicon-time"></span> Post by Jane Dane, Sep 27, 2015.</h5>
                <h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5><br>
                <p>Food is my passion. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <br><br>
            </div>

        </div>
    </div>
</body>