@{
    ViewBag.Title = "Login - WeCoin: the best for the best";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-lock"></span> Login
                </div>
                <div class="panel-body">
                    @Styles.Render("~/Content/Login.css")

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">
                                        Email
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-3 control-label">
                                        Senha
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="password" name="psw" class="form-control" id="inputPassword3" placeholder="Senha" required>
                                    </div>
                                </div>

                                <div class="form-group last">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <input type="submit" value="Login" class="btn btn-success btn-sm" />
                                        <button type="reset" class="btn btn-default btn-sm">
                                            Limpar
                                        </button>
                                    </div>
                                </div>
                        </div>
                    }


                </div>
                <div class="panel-footer">
                    Não tem cadastro? @Html.ActionLink("Clique aqui para se cadastrar", "Register", "Register")
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $("hr").hide();
        $("footer").hide();
        $("#myAccountBtn").hide();
    </script>
}