@model Presentation.ViewModels.ApplicationUserViewModel
<body>
    @{
        ViewBag.Title = "Registro";
        Layout = "~/Views/Shared/_Layout.cshtml";
        Styles.Render("~/Content/Register.css");
    }
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
                <legend><a href="http://www.jquery2dotnet.com"><i class="glyphicon glyphicon-globe"></i></a> Sign up!</legend>
                @using (Html.BeginForm())
                {
                    <form action="#" method="post" class="form" role="form">
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <input class="form-control" name="firstname" placeholder="First Name" type="text"
                                       required autofocus />
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <input class="form-control" name="lastname" placeholder="Last Name" type="text" required />
                            </div>
                        </div>
                        <input class="form-control" name="youremail" placeholder="Your Email" type="email" required />
                        <input class="form-control" name="reenteremail" placeholder="Re-enter Email" type="email" required />
                        <input class="form-control" name="password" placeholder="New Password" type="password" required />
                        <label for="">
                            Birth Date
                        </label>
                        <div class="row">
                            <div class="col-xs-4 col-md-4">
                                <input id="date" type="date" name="date" required>
                            </div>
                        </div>
                        <br />
                        <div>
                            <label class="radio-inline">
                                <input type="radio" name="sexMasc" id="inlineCheckbox1" value="male" />
                                Male
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="sexFemin" id="inlineCheckbox2" value="female" />
                                Female
                            </label>
                        </div>
                        <br />
                        <div>
                            <input type="text" name="wallet" placeholder="Enter your wallet" class="form-control" required />
                        </div>
                        <br />
                        <div class="form-group">
                            @*@Html.CheckBoxFor(model => model.TermsAndConditions, false)
                            @Html.LabelFor(model => model.TermsAndConditions)
                            @Html.ValidationMessageFor(model => model.TermsAndConditions)*@
                        </div>
                        <button class="btn btn-sm btn-success " type="submit" onclick="window.location.href('@Url.Action("Index", "Home")')">
                            Sign up
                        </button>
                        <button type="reset" class="btn btn-default btn-sm">
                            Clear
                        </button>
                    </form>
                }
            </div>
        </div>
    </div>
</body>