@model Presentation.ViewModels.ApplicationUserViewModel
<body>
    @{
        ViewBag.Title = "Registro";
        Layout = "~/Views/Shared/_Layout.cshtml";
        Styles.Render("~/Content/Register.css");
    }
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
                <legend><a href="http://www.jquery2dotnet.com"><i class="glyphicon glyphicon-globe"></i></a>Registrar</legend>
                @using (Html.BeginForm("Register", "Register"))
                {
                    <form action="#" method="post" class="form" role="form">
                        <input class="form-control" name="Name" placeholder="Digite seu nome" type="text" required autofocus />
                        <br />
                        <input class="form-control" name="Email" placeholder="E-mail" type="email" required />
                        <br />
                        <input class="form-control" name="Password" placeholder="Informe uma senha" type="password" required />
                        <br />
                        <input class="form-control" name="ConfirmPassword" placeholder="Informe uma senha" type="password" required />
                        <label for="">
                            Data de nascimento
                        </label>
                        <div class="row">
                            <div class="col-xs-4 col-md-4">
                                <input id="date" type="date" name="BirthDate" required>
                            </div>
                        </div>
                        <br />
                        <input class="btn btn-sm btn-success " type="submit" value="Registrar" onclick="window.location.href(@Url.Action("Home", "User"))" />
                        <button type="reset" class="btn btn-default btn-sm">
                            Limpar campos
                        </button>
                    </form>
                }
            </div>
        </div>
    </div>
</body>

@section Scripts
{
    <script type="text/javascript">
        $("#myAccountBtn").hide();
        $("#logoutBtn").hide();
        $("#notificationBtn").hide();
    </script>
}