@using System.Security.Cryptography
@{
    ViewBag.Title = "Termos de Uso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Termos de Uso</title>
</head>
<body>
    <div class="container well">
        <h1 style="text-align: center" class="jumbotron">TERMOS DE USO</h1>
        <p>
            ANTES DE UTILIZAR QUAISQUER SERVIÇOS DO SITE @Html.ActionLink("WECOIN", "Home", "User"), VOCÊ DEVE LER E CONCORDAR COM OS PRESENTES TERMOS DE USO E COM NOSSA POLÍTICA DE PRIVACIDADE.

            AO CLICAR NA OPÇÃO “ACEITO” AO FINAL DESTA PÁGINA, VOCÊ ESTARÁ CONCORDANDO COM TODOS OS TERMOS DE USO, CONFORME ADIANTE DESCRITOS.

            ANTES DE ACEITAR OS PRESENTES TERMOS DE USO, CERTIFIQUE-SE DE QUE VOCÊ HAJA COMPREENDIDO E CONCORDADO COM SEU INTEIRO TEOR.
        </p>

        <br />

        <h3 style="text-align: center">O SITE</h3>
        <p>
            O site @Html.ActionLink("WECOIN", "Home", "User") (doravante referido simplesmente como “Site”) é mantido pela NUMISMATHCS SERVIÇOS DIGITAIS LTDA., empresa inscrita no CNPJ sob n.° 12.345.678/0001-01.

            O Site oferece a seus Usuários uma plataforma com o objetivo de criar uma comunidade de profissionais e interessados em criptomoedas, onde seria possível a interação entre os usuários, tal como uma rede social. Através do Site, o Usuário pode minerar criptomoedas para si, para outros usuários e/ou para o Site.

            A NUMISMATHCS SERVIÇOS DIGITAIS LTDA. não compra, nem vende criptomoedas. O Site apenas possibilita a aproximação entre Usuários que desejam compartilhar informações sobre o tema e/ou minerar criptomedas, e oferece funcionalidades para facilitar e dar segurança a essas transações.
        </p>

        <br />

        <h3 style="text-align: center">CADASTRO</h3>
        <p>
            Para utilizar os serviços de nosso Site, cada Usuário deve aceitar os presentes Termos de Uso e nossa Política de Privacidade e realizar seu Cadastro no Site. O Cadastro é realizado através do preenchimento do formulário on-line disponível na opção “Clique aqui para se cadastrar” na página inicial do Site.

            Para cadastrar-se no Site, o Usuário deverá ter mais de 18 anos completos.

            O Usuário obriga-se a fornecer informações verdadeiras, atuais e completas quando de seu Cadastro e deverá manter sempre atualizadas as referidas informações.

            A NUMISMATHCS SERVIÇOS DIGITAIS LTDA.. não se responsabiliza pelas informações prestadas por cada Usuário no momento de seu Cadastro, sendo tais informações fornecidas sob exclusiva responsabilidade do Usuário.

            O fornecimento de informação falsa ou a utilização indevida de dados de terceiros em nome próprio constitui crime tipificado pelo Código Penal Brasileiro. Em qualquer desses casos, a NUMISMATHCS SERVIÇOS DIGITAIS LTDA. poderá suspender ou cancelar definitivamente o acesso do Usuário em questão a todos os serviços e funcionalidades do Site, sem prejuízo das demais medidas que lhe sejam asseguradas pela legislação em vigor.

            A NUMISMATHCS SERVIÇOS DIGITAIS LTDA. poderá, a seu exclusivo critério, requisitar documentos e informações adicionais para confirmar ou manter o Cadastro de qualquer Usuário. Caso a NUMISMATHCS SERVIÇOS DIGITAIS LTDA. decida exercer essa faculdade em relação a qualquer Usuário, o Cadastro desse Usuário poderá ser suspenso ou definitivamente cancelado caso o Usuário se recuse a prestar as informações ou a enviar os documentos requeridos ou, caso, ainda, se constate, a partir da análise de tais informações e documentos, que o Usuário inseriu informação falsa ou incompleta no momento de seu Cadastro.

            Cada Usuário poderá manter apenas um único Cadastro no Site. Caso seja constatada a existência de mais de um Cadastro relativo a uma mesma pessoa, um ou todos esses Cadastros poderão ser suspensos ou cancelados, a critério da NUMISMATHCS SERVIÇOS DIGITAIS LTDA.
            A NUMISMATHCS SERVIÇOS DIGITAIS LTDA. se reserva o direito de recusar qualquer solicitação de Cadastro e de suspender ou cancelar um Cadastro previamente aceito nos casos (i) de violação de qualquer das disposições destes Termos de Uso, (ii) impossibilidade de verificação da identidade do Usuário ou constatação de falsidade em qualquer das informações por ele fornecidas, (iii) prática pelo Usuário de atos fraudulentos ou dolosos ou a adoção de qualquer comportamento que, a critério da NUMISMATHCS SERVIÇOS DIGITAIS LTDA., seja incompatível com os objetivos do Site, com a urbanidade com outros Usuários ou que possam, de qualquer modo, causar danos a terceiros ou ao Site.
        </p>

        <br />

        <h3 style="text-align: center">LOG-IN E SENHA</h3>
        <p>
            Ao efetuar seu Cadastro, o Usuário deverá criar um perfil com “e-mail” (log-in) e uma senha para acesso à sua conta no Site. O login não poderá guardar semelhança com o nome “WECOIN”. Também poderão ser cancelados Cadastros efetuados com logins considerados ofensivos.

            O log-in e senha são pessoais e intransferíveis e não deverão ser informados pelo Usuário a quaisquer terceiros. Caso o Usuário tenha conhecimento de que qualquer terceiro teve acesso a seu log-in e senha, ou da ocorrência de qualquer uso ou acesso não autorizado de sua conta no Site por terceiros, o Usuário deverá solicitar imediatamente a alteração de senha no próprio Site.

            O Usuário será o único responsável pelas operações e pelas informações disponibilizadas em sua conta no Site.
        </p>

        <br />

        <h3 style="text-align: center">DIREITOS DE PROPRIEDADE INTELECTUAL</h3>
        <p>
            Os Usuários reconhecem e concordam que a A NUMISMATHCS SERVIÇOS DIGITAIS LTDA. é a única e exclusiva titular de todos os direitos autorais e de propriedade intelectual relacionados ao Site, incluindo seu nome de domínio, sua programação, arquivos, bancos de dados, conteúdo, design, funcionalidades e demais características, e que tais direitos são protegidos por lei. O nome comercial WECOIN, a marca WECOIN, e os produtos e serviços associados a essa marca são de exclusiva titularidade da A NUMISMATHCS SERVIÇOS DIGITAIS LTDA. e seu uso não autorizado é sujeito às consequências previstas em lei.

            Os presentes Termos de Uso não implicam a cessão ou transferência ao Usuário de quaisquer direitos relativos ao Site, ou a qualquer parte de seu conteúdo ou características. Os Usuários poderão utilizar o Site apenas nos estritos termos permitidos nos presentes Termos de Uso.

            É vedado aos Usuários modificar ou tentar modificar qualquer funcionalidade do Site, produzir quaisquer derivações do Site ou, ainda, acessar qualquer parte do Site visando à criação de um produto ou serviço concorrente, ou de qualquer produto ou serviço que contenha ideias, características ou funções similares às do Site. Não é permitida também a utilização de nenhum dispositivo, software ou outro recurso que possa interferir nas atividades e operações do Site ou que tenha por objetivo o acesso indevido às informações ou bancos de dados do Site. Qualquer atividade que viole ou contrarie as leis de propriedade intelectual, as demais normas aplicáveis ou as proibições estipuladas nestes Termos de Uso sujeitarão o responsável às consequências legais pertinentes, incluindo indenizações por eventuais danos causados.

            O Site poderá exibir links para outros sites da Internet, o que não significa que esses sites sejam de propriedade da, ou operados pela, A NUMISMATHCS SERVIÇOS DIGITAIS LTDA. A A NUMISMATHCS SERVIÇOS DIGITAIS LTDA. não possui controle sobre o conteúdo de outros sites cujo acesso seja facilitado por links inseridos em nosso Site, e, dessa forma, não será responsável pelos conteúdos, práticas e serviços ofertados nesses outros sites.
        </p>

        <br />

        <h3 style="text-align: center">PRIVACIDADE</h3>
        <p>
            Todos os dados pessoais informados pelo Usuário no momento de seu Cadastro são armazenados em servidores ou meios magnéticos de alta segurança.

            A NUMISMATHCS SERVIÇOS DIGITAIS LTDA. adota todas as medidas possíveis para manter a confidencialidade e a segurança das informações prestadas por seus Usuários. No entanto, os Usuários declaram-se cientes da possibilidade de violação da segurança dos servidores do Site por ataques de hackers ou outras circunstâncias a que sistemas conectados à Internet estejam sujeitos, casos em que, apesar dos melhores esforços da NUMISMATHCS SERVIÇOS DIGITAIS LTDA., as informações e dados dos Usuários poderão eventualmente ser ilegalmente acessadas por terceiros.

            A NUMISMATHCS SERVIÇOS DIGITAIS LTDA. poderá também revelar dados e informações de qualquer Usuário, caso isso seja requerido por lei ou por ordem de uma autoridade competente.

            O uso dos serviços prestados pela NUMISMATHCS SERVIÇOS DIGITAIS LTDA requerem o envio de mensagens eletrônicas (como, por exemplo, e-mails) de cunho de segurança e administrativo. Por fazerem parte da natureza dos serviços prestados, estas notificações são parte integrante do funcionamento do Site e não podem ter seu envio para o Usuário cancelado. Todos as outras notificações enviadas pelo Site contam com uma área administrativa para que o Usuário possa solicitar ou cancelar o envio de futuro.
        </p>

        <br />

        <h3 style="text-align: center">RESTRIÇÕES E PROBLEMAS DE ACESSO</h3>
        <p>
            Os serviços do Site estão disponíveis para acesso exclusivamente através da Internet. Para acessar nossos serviços, os Usuários deverão estar providos dos equipamentos necessários e apropriados, tais como computador com programa de navegação (browser) devidamente instalado e licenciado, modem, bem como dos serviços de provimento e infraestrutura de acesso à Internet.

            Os serviços do Site estão sujeitos a interrupções, atrasos e problemas inerentes ao uso da Internet. A NUMISMATHCS SERVIÇOS DIGITAIS LTDA. não será responsável por qualquer dessas interrupções, atrasos ou problemas, nem por eventuais defeitos ou limitações dos equipamentos ou do programa de navegação utilizados pelos Usuários ou, ainda, por eventuais defeitos ou limitações dos serviços de provimento de acesso ou infraestrutura de acesso à Internet contratados pelos Usuários.

            A NUMISMATHCS SERVIÇOS DIGITAIS LTDA. também não será responsável por qualquer vírus que possa atacar o equipamento do Usuário em decorrência do acesso, utilização ou navegação na Internet ou como consequência da transferência de dados, arquivos, imagens, textos ou áudio.
        </p>

        <br />

        <h3 style="text-align: center">ALTERAÇÕES NOS TERMOS DE USO</h3>
        <p>
            A NUMISMATHCS SERVIÇOS DIGITAIS LTDA. poderá alterar, a qualquer tempo, os presentes Termos de Uso, visando a seu aprimoramento e à melhoria dos serviços oferecidos pelo Site.

            Eventuais alterações nestes Termos de Uso entrarão em vigor 10 dias após sua publicação no Site.

            Caso o Usuário não concorde com quaisquer alterações implementadas nestes Termos de Uso, deverá imediatamente cancelar seu Cadastro. Caso o Usuário não efetue esse cancelamento, ele estará concordando com os novos Termos de Uso.
        </p>

        <br />

        <h3 style="text-align: center">DISPOSIÇÕES FINAIS</h3>
        <p>
            No caso de descumprimento, pelo Usuário, de qualquer disposição dos presentes Termos de Uso, a NUMISMATHCS SERVIÇOS DIGITAIS LTDA. poderá declará-lo resolvido em relação a esse Usuário, independentemente de qualquer aviso, notificação ou de qualquer outra formalidade, interrompendo, de imediato, o acesso do Usuário ao Site, sem prejuízo de quaisquer outros direitos assegurados à NUMISMATHCS SERVIÇOS DIGITAIS LTDA. por lei ou pelos presentes Termos de Uso.

            São parte integrante e inseparável destes Termos de Uso, e nele se considera incorporada Política de Privacidade.

            Os presentes Termos de Uso são regidos pelas leis da República Federativa do Brasil e fica eleito o foro da Capital do Estado de São Paulo, com exclusão de qualquer outro, por mais privilegiado que seja ou possa vir a ser, para dirimir quaisquer litígios ou controvérsias oriundas dos presentes Termos de Uso.

            O USUÁRIO RECONHECE QUE AS PECULIARIDADES DE USO DO SITE E DOS SERVIÇOS NELE DISPONIBILIZADOS FORAM SUFICIENTEMENTE DESCRITAS NESTE TERMO E QUE A NUMISMATHCS SERVIÇOS DIGITAIS LTDA. CUMPRIU DEVIDAMENTE O DEVER DE INFORMAÇÃO. APÓS LER TODAS AS CONDIÇÕES QUE REGULAM O USO DO SITE E DE SEUS SERVIÇOS, O USUÁRIO CONSENTE COM ESTES TERMOS DE USO E ACEITA TODAS AS SUAS DISPOSIÇÕES.
        </p>

        <br />

        <h1 style="text-align: center" class="jumbotron">POLÍTICA DE PRIVACIDADE</h1>

        <h5>
            Caro Usuário,

            Temos o compromisso de proteger e respeitar a sua privacidade.

            Nossa Política de Privacidade tem como principal objetivo informar os fins para os quais serão usadas e como é feita a proteção de suas informações pessoais. Caso tenha alguma dúvida relacionada à Política de Privacidade, por favor, acesse nossa central de ajuda.

            O NUMISMATHCS SERVIÇOS DIGITAIS LTDA poderá alterar esta Política de Privacidade a qualquer tempo, sempre com o objetivo de aprimorá-la.
        </h5>

        <br />

        <h3 style="text-align: center">COLETA E UTILIZAÇÃO DOS DADOS</h3>
        <p>
            O NUMISMATHCS SERVIÇOS DIGITAIS LTDA poderá coletar suas informações pessoais se você utilizar o Site, abrir uma conta, preencher nosso Cadastro e executar quaisquer transações em nosso Site.

            Nós utilizaremos suas informações pessoais para permitir que você abra e utilize uma conta no NUMISMATHCS SERVIÇOS DIGITAIS LTDA, realize transações através de nossa plataforma e para entrar em contato com você caso seja necessário respondermos às suas dúvidas.

            Suas informações pessoais serão utilizadas apenas para os propósitos para os quais elas nos houverem sido fornecidas.
        </p>

        <br />

        <h3 style="text-align: center">ARMAZENAMENTO E SEGURANÇA</h3>
        <p>
            O NUMISMATHCS SERVIÇOS DIGITAIS LTDA utiliza modernas medidas de segurança com intuito de garantir a proteção de seus dados pessoais contra qualquer acesso não autorizado. Utilizamos a tecnologia SSL (Secure Socket Layer) de 256 bits, que criptografa e protege os dados trafegados em nossos servidores.

            Apenas colaboradores autorizados do NUMISMATHCS SERVIÇOS DIGITAIS LTDA podem ter acesso às suas informações pessoais, estando obrigatoriamente sujeitos a deveres de confidencialidade e a rigoroso respeito à sua privacidade.
        </p>

        <br />

        <h3 style="text-align: center">OBSERVAÇÃO PARA MENORES DE 18 ANOS</h3>
        <p>
            Se você tem menos de 18 anos de idade, não deve enviar dados pessoais próprios ou de amigos, nem se inscrever em nenhum dos serviços on-line de NUMISMATHCS SERVIÇOS DIGITAIS LTDA, nem clicar em botões de solicitação ou consentimento neste Site.
        </p>

        <h3 style="text-align: center">CONTATO</h3>
        <p>
            Todas as solicitações relativas aos seus dados pessoais, assim como qualquer solicitação de cancelamento de sua conta no NUMISMATHCS SERVIÇOS DIGITAIS LTDA podem ser feitas através da nossa @Html.ActionLink("central de ajuda", "FaqPage").
        </p>
    </div>
</body>
</html>

@section scripts
{
    <script type="text/javascript">
        $("#myAccountBtn").hide();
        $("#logoutBtn").hide();
        $("#notificationBtn").hide();
    </script>
}